@{
    var setting = new PavlikeDATA.Repos.SettingRepository().GetSettings();
}
<!DOCTYPE html>
<html class="no-focus">
<head>
    <meta charset="utf-8">
    <title>@setting.Title - @ViewBag.Title</title>

    <meta name="description" content="@setting.Title - @setting.Description">
    <meta name="author" content="@setting.Title">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/oneui.css" rel="stylesheet" />
    <link href="~/Content/fluidbox.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/imagesloaded.pkgd.min.js"></script>
    <script src="~/Scripts/jquery.fluidbox.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/app.js"></script>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">
    <script src="http://masonry.desandro.com/masonry.pkgd.js"></script>
    <script src="~/Scripts/gmaps.min.js"></script>



</head>
<body>
    <div id="page-container" class="header-navbar-fixed header-navbar-transparent header-navbar-scroll">

        <header id="header-navbar" class="content-mini content-mini-full">
            <div class="content-boxed">
                <ul class="nav-header pull-left">
                    <li class="header-content">
                        <a class="h5" href="@Url.Content(setting.Url)">
                            @if (setting.LogoId != null)
                            {
                                <img src="@Url.Content(new PavlikeDATA.Repos.MediaRepository().FindbyId(setting.LogoId).File.Url)" alt="@setting.Title" />
                            }
                            else
                            {
                                <span class="h4 font-w600 text-danger-light">@setting.Title</span>
                            }
                        </a>
                    </li>
                </ul>
                @Html.Partial("Navigation")



            </div>
        </header>
        <main id="main-container">

            <div class="bg-white">
                <section class="content content-boxed">

                    @RenderBody()

                </section>
            </div>

        </main>
        @Html.Partial("Footer")
    </div>
    <script>
        $(function () {
            $(".image-fluid ").fluidbox();
           
        });
        $(".image-fluid ").on("openstart", function () {
            if ($(document).height() > $(window).height()) {
                var scrollTop = ($('html').scrollTop()) ? $('html').scrollTop() : $('body').scrollTop(); // Works for Chrome, Firefox, IE...
                $('html').addClass('noscroll').css('top', -scrollTop);
            }

        });
        $(".image-fluid ").on("closestart", function () {
            var scrollTop = parseInt($('html').css('top'));
            $('html').removeClass('noscroll');
            $('html,body').scrollTop(-scrollTop);
        });

    </script>
</body>
</html>
