@using PavlikeDATA.Repos
@model IEnumerable<PavlikeDATA.Models.Page>

<table class="table table-striped table-borderless table-header-bg">
    <thead>
        <tr>
            <th class="text-center" style="width: 50px;">#</th>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>ÜST SAYFA</th>
            <th class="hidden-xs" style="width: 15%;">@Html.DisplayNameFor(model => model.Author.Name)</th>
            <th class="hidden-xs" style="width: 15%;">@Html.DisplayNameFor(model => model.Published)</th>
            <th class="hidden-xs" style="width: 15%;">@Html.DisplayNameFor(model => model.Url)</th>
            <th class="text-center" style="width: 100px;">EYLEMLER</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">@Html.DisplayFor(modelItem => item.PageOrder)</td>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@(item.RootPage == null? "-": new PageRepository().FindbyId(item.RootPage).Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Author.Name)</td>

                <td class="hidden-xs">
                    <span class="label label-success">@Html.DisplayFor(modelItem => item.Published)</span>
                </td>
                <td>/@Html.DisplayFor(modelItem => item.Url)</td>

                <td class="text-center">
                    <div class="btn-group">
                        <button onclick="ActionElement(this)" link="@Url.Action("_Edit",new {@id=item.Id})" title="@item.Title - Düzenle" confirmText="Kaydet" form="pageForm" class="btn btn-xs btn-default" type="button"><i class="fa fa-pencil"></i></button>
                        <button onclick="ActionElement(this)" link="@Url.Action("_Delete",new {@id=item.Id})" title="@item.Title - Sil" confirmText="Sil" form="" class="btn btn-xs btn-default" type="button" data-toggle="tooltip" data-original-title="Sil"><i class="fa fa-times"></i></button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
