@model List<PavlikeDATA.Models.View>

@{
    ViewBag.Title = "Views";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminPanelLayout.cshtml";
}

<h2>Views</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ViewFileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ViewName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ViewFileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ViewName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
