@model IEnumerable<PavlikeDATA.Models.View>

<table class="table table-striped table-borderless table-header-bg">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ViewFileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ViewFileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ViewName)
                </td>
                <td>
                    <button onclick="ActionElement(this)" link="@Url.Action("DeleteView",new {@id=item.Id})" title="@item.ViewName - Sil" confirmtext="Sil" form="" class="btn btn-xs btn-default" type="button" data-toggle="tooltip" data-original-title="Sil"><i class="fa fa-times"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>
