@model pavlikeMVC.Models.SetPasswordViewModel
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
@using (Html.BeginForm(null,null, FormMethod.Post, new {id="changePass", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.Hidden("userguid", ViewBag.userguid as string)

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="button" onclick="ChangePass()" class="btn btn-warning pull-right">Şifreyi Kaydet</button>
        </div>
    </div>
}

<script>
    function ChangePass() {
        $.post("@Url.Action("_SetPassword")",$("#changePass").serializeArray());
    }

</script>