@model IEnumerable<PavlikeDATA.Models.Media>

@{
    ViewBag.Title = "Görseller";
    Layout = IsAjax ? null : "~/Areas/AdminPanel/Views/Shared/_AdminPanelLayout.cshtml";
}
@if (IsAjax)
{
    <div class="row">

        <select multiple="multiple" class="image-picker show-html">
            @foreach (var item in Model)
            {
                <option data-img-src="@Url.Content(item.File.Url)" value="@item.Id">@item.Title</option>
            }

        </select>
    </div>
    <script>
        $(function () {
            $("select").imagepicker();
            $(".image_picker_selector").quickPagination({ pageSize: "9" });
        })

    </script>
}
else
{

    <div class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="content content-narrow">
                    <input type='hidden' id='current_page' />
                    <input type='hidden' id='show_per_page' />
                    <!-- END Icon Tiles -->
                    <div class="row">
                        <div class="row items-push js-gallery-advanced">

                            @foreach (var item in Model)
                            {

                                <div class="col-sm-6 col-md-4 col-lg-3 animated fadeIn galleryItem">
                                    <div class="img-container fx-img-rotate-r">
                                        <img class="img-responsive" style="height: 242px;" src="@Url.Content(item.File.Url)" alt="@item.AltText">
                                        <div class="img-options">
                                            <div class="img-options-content">
                                                <h3 class="font-w400 text-white push-5">@item.Title</h3>
                                                <a class="btn btn-sm btn-default img-lightbox" href="@Url.Content(item.File.Url)">
                                                    <i class="fa fa-search-plus"></i> İncele
                                                </a>
                                                <div class="btn-group btn-group-sm">
                                                    <button class="btn btn-default mediaEdit" media-id="@item.Id" item-title="@item.Title"><i class="fa fa-pencil"></i> Düzenle</button>
                                                    <button class="btn btn-default mediaDelete" media-id="@item.Id" item-title="@item.Title"><i class="fa fa-times"></i> Sil</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                            <div id='page_navigation'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        //Modal Init
        var modalDiv = $("#bootstrap-Modal");
        var modalContent = modalDiv.find(".block-content");
        var modalTitle = modalDiv.find(".block-title");
        var modalConfirm = modalDiv.find(".btn-primary");

        

        //Confirm button action
        modalDiv.find(".btn-primary").on("click", function (event) {
            if (!$('#mediaForm').length) {
                $.post(modalConfirm.attr("link"), function (data) {
                    if (data === "True") {
                        modalDiv.modal("hide");
                        location.reload();
                    }
                });
            } else {
                if ($('#mediaForm').valid()) {
                    $.post(modalConfirm.attr("link"), $("#mediaForm").serializeArray(), function (data) {
                        if (data === "True") {
                            modalDiv.modal("hide");
                            location.reload();
                        }
                    });

                } else {
                    toastr.warning("Alanları Kontrol Ediniz!");
                }


            }
        });

        // cancel button action
        modalDiv.find(".btn-default").on("click", function () { modalDiv.modal("hide") });

        $(document).ready(function () {

            //how much items per page to show
            var show_per_page = 12;
            //getting the amount of elements inside content div
            var number_of_items = $('.js-gallery-advanced').children(".galleryItem").size();
            //calculate the number of pages we are going to have
            var number_of_pages = Math.ceil(number_of_items / show_per_page);

            //set the value of our hidden input fields
            $('#current_page').val(0);
            $('#show_per_page').val(show_per_page);

            //now when we got all we need for the navigation let's make it '

            /*
            what are we going to have in the navigation?
                - link to previous page
                - links to specific pages
                - link to next page
            */
            var navigation_html = '<a class="previous_link" href="javascript:previous();">Prev</a>';
            var current_link = 0;
            while (number_of_pages > current_link) {
                navigation_html += '<a class="page_link" href="javascript:go_to_page(' + current_link + ')" longdesc="' + current_link + '">' + (current_link + 1) + '</a>';
                current_link++;
            }
            navigation_html += '<a class="next_link" href="javascript:next();">Next</a>';

            $('#page_navigation').html(navigation_html);

            //add active_page class to the first page link
            $('#page_navigation .page_link:first').addClass('active_page');

            //hide all the elements inside content div
            $('.js-gallery-advanced').children(".galleryItem").css('display', 'none');

            //and show the first n (show_per_page) elements
            $('.js-gallery-advanced').children(".galleryItem").slice(0, show_per_page).css('display', 'block');

        });

        function previous() {

            new_page = parseInt($('#current_page').val()) - 1;
            //if there is an item before the current active link run the function
            if ($('.active_page').prev('.page_link').length == true) {
                go_to_page(new_page);
            }

        }

        function next() {
            new_page = parseInt($('#current_page').val()) + 1;
            //if there is an item after the current active link run the function
            if ($('.active_page').next('.page_link').length == true) {
                go_to_page(new_page);
            }

        }
        function go_to_page(page_num) {
            //get the number of items shown per page
            var show_per_page = parseInt($('#show_per_page').val());

            //get the element number where to start the slice from
            start_from = page_num * show_per_page;

            //get the element number where to end the slice
            end_on = start_from + show_per_page;

            //hide all children elements of content div, get specific items and show them
            $('.js-gallery-advanced').children(".galleryItem").css('display', 'none').slice(start_from, end_on).css('display', 'block');

            /*get the page link that has longdesc attribute of the current page and add active_page class to it
            and remove that class from previously active page link*/
            $('.page_link[longdesc=' + page_num + ']').addClass('active_page').siblings('.active_page').removeClass('active_page');

            //update the current page input field
            $('#current_page').val(page_num);
        }

    </script>
}
